version: "3.9"

services:
  users:
    build: ./services/users
    ports:
      - "8081:8081"
    depends_on:
      - mongo

  content:
    build: ./services/content
    ports:
      - "8082:8082"
    depends_on:
      - mongo

  notifications:
    build: ./services/notifications
    ports:
      - "8083:8083"
    depends_on:
      - mongo

  gateway:
    build: ./services/gateway
    ports:
      - "8080:8080"
    volumes:
      - ./services/gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - users
      - content
      - notifications

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    restart: always
    container_name: mongo

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8084:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

